ul {
    list-style-type: none;
    margin: 3px;
    padding: 2px;
}
/* unvisited link */
a:link {
    color: blue;
}
/* visited link */
a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: red;
  }
  body {
    background: goldenrod;
  }
  h1 {
    color: green;
    text-align: center;
  }
  #barra {
    color: green    
  }
  img {
    border: solid black 5px;
  }